<div class="container p-3" id="c1">
    <div class="row">
        <div class="col-7">
            <div class="border border-2 border-black w-100 h-50 rounded text-center">
                <img [src]="image" width="500px" height="300px" alt="">
            </div>
            <p class="pt-2"><strong>Documents to read</strong></p>
            <div class="mt-3 d-flex">
                <div >
                    <img src="../../../assets/img/man.jpg" alt="" width="40px" height="40px"  class="rounded-circle">
                    <span class="mx-2">NSBlogs</span>

                </div>
                <button class="border border-0 rounded-5 bg-black text-white py-2 px-4">Subcribe</button>
                <div style="margin-left: 100px;" class="d-flex">
                    <div class="border rounded-4 py-1 px-1  mx-2">
                        <i class="bi bi-hand-thumbs-up mx-1"></i>
                        <span>2.6K</span>  |
                        <i class=" mx-1 bi bi-hand-thumbs-down"></i>
                    </div>
                    <div class="border rounded-4 py-1 px-1 mx-2">
                        <i class="bi bi-share-fill mx-1"></i>
                        <span>share</span> 
                       
                    </div>
                    <div class="border rounded-4 py-1 px-1">
                        <i class="bi bi-download mx-1"></i>
                        <span>Download</span>
                      
                    </div>
                </div>
            </div>

            <div class="card text-bg-light mb-5 mt-3" style="max-width: 50rem;">
                <div class="card-header bg-black text-white">Doc.No: {{bid}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{book}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
            <!-- <div class="mt-4 border border-2 border-black rounded py-4">
                <div class="d-flex justify-content-around">
                    <div class="border border-black border-2 rounded py-3 mx-4 mb-2" style="width: 80px;height: 80px;">
                      Doc.No:  {{bid}}</div>
                    <div class="border border-black border-2 rounded text-center   py-3 mx-4" style="width: 80px;height: 80px;">
                        {{book}}</div>
                </div>
                <div class="border border-black border-2 rounded  py-3 mx-4" style="width: 550px;height: 200px;">
                    {{description}}</div>
            </div> -->


        </div>
        <div class="col">
            <div class="mb-3">
                <span class="mx-2 border px-2 rounded border-2">All</span>
                <span class="mx-2 border px-2 rounded border-2">From Ashwin</span>
                <span class="mx-2 border px-2 rounded border-2">From Nihal</span>
            </div>


            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                data-bs-smooth-scroll="true" class="scrollspy-example  p-3 "
                tabindex="0" style="height: 500px; overflow-y: scroll;">
                <div id="scrollspyHeading1" class="card mb-3 border border-0" style="max-width: 540px"
                    (click)="click(1)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m3.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p>This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="scrollspyHeading2" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(2)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m2.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">

                                <p>This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollspyHeading3" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(3)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/img1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollspyHeading4" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(4)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>