<div class="container p-5" id="c1">
    <div class="row">
        <div class="col-7">
            <div class="bg-danger w-100 h-50 rounded">
                <img [src]="image" width="500px" height="300px" alt="">
            </div>
            <div class="mt-4 border border-2 border-black rounded py-4">
                <div class="d-flex justify-content-around">
                    <div class="border border-black border-2 rounded py-3 mx-4 mb-2" style="width: 80px;height: 80px;">
                      Doc.No:  {{bid}}</div>
                    <div class="border border-black border-2 rounded text-center   py-3 mx-4" style="width: 80px;height: 80px;">
                        {{book}}</div>
                </div>
                <div class="border border-black border-2 rounded  py-3 mx-4" style="width: 550px;height: 200px;">
                    {{description}}</div>
            </div>

        </div>
        <div class="col">
            <div class="mb-3">
                <span class="mx-2 border px-2 rounded">All</span>
                <span class="mx-2 border px-2 rounded">From Ashwin</span>
                <span class="mx-2 border px-2 rounded">From Nihal</span>
            </div>


            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 border"
                tabindex="0" style="height: 500px; overflow-y: scroll;">
                <div id="scrollspyHeading1" class="card mb-3 border border-0" style="max-width: 540px"
                    (click)="click(1)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m3.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p>This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="scrollspyHeading2" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(2)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m2.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">

                                <p>This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollspyHeading3" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(3)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/img1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollspyHeading4" class="card mb-3 border border-0" style="max-width: 540px;"
                    (click)="click(4)">
                    <div class="row g-0">
                        <div class="col-md-4 border rounded">
                            <img src="../../../assets/img/m1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
